<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Cadastro de lançamentos</title>
	<h:outputStylesheet library="css" name="sistema.css"/>
</h:head>
<h:body>
	<h1>Novo lançamento</h1>
	<h:form id="frm">

		<h:button value="Novo" outcome="CadastroLancamento"/>
		<h:button value="Consulta" outcome="ConsultaLancamentos"/>
		
		<h:messages showSummary="true" showDetail="false"
		styleClass="form-messages" errorClass="error"
		infoClass="info"/>

		<h:panelGrid columns="2" styleClass="form-grid"
		columnClasses="label, campo">
		
		<h:outputLabel value="Tipo"/>
		<h:selectOneRadio value="#{cadastroLancamentoBean.lancamento.tipo}">
			<f:selectItems value="#{cadastroLancamentoBean.tipoLancamentos}"
			var="tipoLancamento" itemLabel="#{tipoLancamento.descricao}"
			itemValue="#{tipoLancamento}"/>
		</h:selectOneRadio>
			
		
			<h:outputLabel value="Pessoa" />
			<h:selectOneMenu value="#{cadastroLancamentoBean.lancamento.pessoa}"
			required="true" label="Pessoa">
				<f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
				<f:selectItems value="#{cadastroLancamentoBean.pessoas}" var="pessoa"
				itemLabel="#{pessoa.nome}" itemValue="#{pessoa}"/>
			</h:selectOneMenu>
			
			<h:outputLabel value="Descrição" />
			<h:inputText id = "descricao" size="60" value="#{cadastroLancamentoBean.lancamento.descricao}"
			required="true" label="Descrição"/>

			<h:outputLabel value="Valor" />
			<h:inputText size="12" value="#{cadastroLancamentoBean.lancamento.valor}"
			required="true" label="Valor">
				<f:convertNumber locale="pt_BR" minFractionDigits="2" maxFractionDigits="2"/>
				<f:validateDoubleRange minimum="0"/>
			
			</h:inputText>

			<h:outputLabel value="Data de Vencimento"/>
			<h:inputText size="12" required="true" value="#{cadastroLancamentoBean.lancamento.dataVencimento}"
			label="Data de Vencimento">
				<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
			</h:inputText>

			<h:outputText />
			<h:panelGroup>
				<h:selectBooleanCheckbox id = "pagoCheckbox" value="#{cadastroLancamentoBean.lancamento.pago}"
				immediate="true" valueChangeListener="#{cadastroLancamentoBean.lancamentoPagoModificado}"/>
				<h:outputLabel value="Conta paga" for="pagoCheckbox"/>
			</h:panelGroup>

			<h:outputLabel value="Data de Pagamento" />
			<h:inputText size="12" value="#{cadastroLancamentoBean.lancamento.dataPagamento}" 
			label="Data de Pagamento">
				<f:convertDateTime locale="pt_BR" pattern="dd/MM/yyyy"/>
				<f:validator validatorId="br.com.DataFutura"/>
				<f:validator validatorId="br.com.CondicionalValidator"/>
				<f:attribute name="checado" value="#{cadastroLancamentoBean.lancamento.pago}"/>
			</h:inputText>
			<h:outputLabel />
			<h:commandButton value="Cadastrar" action="#{cadastroLancamentoBean.cadastrar}"/>			
		</h:panelGrid>
		
	</h:form>
</h:body>
</html>