<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Lançamentos</title>

	<h:outputStylesheet library="css" name="consulta-lancamentos.css" />
	<h:outputStylesheet library="css" name="sistema.css" />
</h:head>
<h:body>
	<h1>Lançamentos</h1>
	<h:form>
		
		<h:button value="Novo lançamento" outcome="CadastroLancamento"/>
		
		<h:messages showSummary="true" showDetail="false"
		styleClass="form-messages" errorClass="error"
		infoClass="info"/>
		
		
		<h:dataTable value="#{consultaLancamentosBean.lancamentos}"
			var="lancamento" width="100%" styleClass="grid"
			headerClass="cabecalho" rowClasses="cor-sim, cor-nao"
			columnClasses="tipo, pessoa, descricao, valor, vencimento, pagamento, situacao, acoes">

			<h:column>
				<h:graphicImage value="/imagens/despesa.png" rendered="#{lancamento.tipo eq 'DESPESA'}"/>
				<h:graphicImage value="/imagens/receita.png" rendered="#{lancamento.tipo eq 'RECEITA'}"/>
			</h:column>

			<h:column>
				<f:facet name="header">
				Pessoa
			</f:facet>

				<h:outputText value="#{lancamento.pessoa.nome}" />
			</h:column>

			<h:column>
				<f:facet name="header">
				Descrição
			</f:facet>

				<h:outputText value="#{lancamento.descricao}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					Valor
				</f:facet>

				<h:outputText value="#{lancamento.valor}" styleClass="#{lancamento.tipo.toString().toLowerCase()}">
					<f:convertNumber locale="pt_BR" currencySymbol="R$" type="currency"/>
				</h:outputText>

			</h:column>

			<h:column>
				<f:facet name="header">
				Vencimento
			</f:facet>

				<h:outputText value="#{lancamento.dataVencimento}" >
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:outputText>
			</h:column>

			<h:column>
				<f:facet name="header">
				Pagamento
			</f:facet>

				<h:outputText value="#{lancamento.dataPagamento}" >
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:outputText>
			</h:column>

			<h:column>
				<f:facet name="header">
				Situação
			</f:facet>

				<h:outputText value="Pago" rendered="#{lancamento.pago}" />
				<h:outputText value="Aberto" rendered="#{not lancamento.pago}" />
			</h:column>

			<h:column>
				
				<h:graphicImage value="/imagens/editar.png" />
				<h:commandLink action="#{consultaLancamentosBean.excluir}">
					<h:graphicImage value="/imagens/excluir.png" />
					<!-- Jogando o objeto value em lancamentoSelecionado.. ou seja.. cada linha corresponde a um lancamentoSelecionado, o value no caso -->
					<f:setPropertyActionListener value="#{lancamento}" target="#{consultaLancamentosBean.lancamentoSelecionado}"/>
				</h:commandLink>	
			</h:column>

		</h:dataTable>
	</h:form>
</h:body>
</html>